body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); 
  background-color: #f5f5f5;
}

.welcome-message {
  color: #4caf50;
  font-size: 1.2rem;
  margin-top: 15px;
  font-weight: 500;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #4caf50, #45a049);
  color: white;
}

.loading-screen h2 {
  font-size: 2rem;
  margin: 0;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  background: rgba(232, 229, 229, 0.65);
  backdrop-filter: blur(8px);
  border-radius: 40px;
  
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #659f68;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #659f68;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

